@charset "utf-8";
a {
	text-decoration: none;
	color: #000
}

#head {
	height: 33px;
	background: #ececee
}

img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto
}

.aqua-T {
	color: #2cc895
}

.aqua-B {
	background: #2cc895
}

.home_hh {
	background: #f5f6f9;
	padding: 10px 0 2px 0;
	height: 45px;
	color: #777
}

.home_hh p i:hover,
.cross i:hover {
	color: #2cc895
}

.home_hh i {
	color: #000
}

.home_h2 li {
	display: none;
	cursor:pointer;
}

.home_h1>li>ul>li:last-child:before {
	content: "\f041";
	font-family: FontAwesome;
	padding: 0 10px
}

.home_hh p {
	display: none
}

.home_h1>li:first-child,
.home_h2>li:first-child {
	width: 90%
}

.home_h1>li:last-child,
.home_h2>li:last-child {
	width: 10%;
	text-align: center
}

.zam {
	background: #f5f6f9;
	border: 1px solid #f5f6f9
}

.home_h2>li>ul>li:last-child:after {
	content: "";
	padding-left: 20px
}

.home_h2>li:first-child {
	border-right: 1px solid gray
}

input[type=text] {
	padding: 5px 0 6px 0;
	border: 0
}

.cross,
.home_hh p {
	display: none;
	position: absolute;
	cursor:pointer;
}

@media screen and (max-width:790px) {
	.home_h1>li>ul {
		visibility: hidden
	}
	.cross {
		margin: 3px 0 0 10px
	}
	.home_hh p {
		display: initial;
		margin: 3px 0 0 10px
	}
	.home_hidden {
		display: initial
	}
	.home_hh {
		background: #fff
	}
	.zam {
		background: #fff;
		border: 1px solid transparent
	}
}

.button_menu {
	display: none;
	width: 100%;
	color: #000;
	background: #fff;
	text-align: center;
	position: absolute;
	z-index: 99
}

.button_menu>ul>li {
	margin: 20px 0;
	border-bottom: 1px solid #2cc895
}

.home_hidden {
	flex-direction: column;
	text-align: center;
	display: none
}

.home_hidden li {
	padding: 7px 0;
	background: #ececee;
	color: #777
}

.home_hidden li:first-child {
	-webkit-box-shadow: 0 -5px 5px -2px rgba(224, 221, 224, 1);
	-moz-box-shadow: 0 -5px 5px -2px rgba(224, 221, 224, 1);
	box-shadow: 0 -5px 5px -2px rgba(224, 221, 224, 1)
}

@media screen and (max-width:790px) {
	.home_hidden {
		display: initial
	}
}

.logo {
	display: block;
	margin: 0 auto;
	width: 170px
}

[alt="logo"] {
	margin-top: 30px
}

nav {
	margin: 5px 0 40px 0
}

nav ul li {
	margin-right: 10px;
	font-weight: 700
}

nav ul li a {
	color: #2d2d2d
}

nav ul li a:hover {
	color: #2cc895
}

nav>ul>li:first-child a {
	color: #2cc895
}

.jon:hover .sub_menu {
	display: block
}

.sub_menu {
	display: none;
	position: absolute;
	background: #fff;
	padding-top: 40px;
	text-align: center
}

.sub_menu li {
	text-align: center;
	padding: 5px 0 5px 8px
}

.slider a,
.slider {
	color: white
}

.slider ul {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	top: 50%
}

.slider ul li {
	padding: 30px 0;
	text-align: center
}

.slider h1 {
	font-size: 5vw;
}

.btn_slide {
	border: 0;
	display: inline-block;
	outline: 0;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.pos-l {
	position: absolute;
	top: 70%;
	left: 10%;
	color: #fff;
	transform: translate(0%, -50%);
	-ms-transform: translate(-0%, -50%);
	font-size: 40px;
	opacity: .4
}

.pos-r {
	position: absolute;
	top: 70%;
	color: #fff;
	right: 10%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	font-size: 40px;
	opacity: .4
}

.slide_hove:hover {
	opacity: 2;
	color: #2cc895
}

.img_one {
	background: #000 url(banner_one.jpg)center center no-repeat;
	background-size: cover;
	height: 700px
}

.img_two {
	background: #000 url(banner_two.jpg)center center no-repeat;
	background-size: cover;
	height: 700px
}

.img_three {
	background: #000 url(banner_three.jpg)center center no-repeat;
	background-size: cover;
	height: 700px
}

.img_four {
	background: #000 url(banner_two.jpg)center center no-repeat;
	background-size: cover;
	height: 700px
}

.img-text {
	text-align: center;
	color: #fff;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 60px
}

.img_one>ul>li>h2 {
	font-size: 150px
}

.img-text li {
	padding: 30px 0;
	position: relative
}

.img-text h2 {
	font-size: 100px;
	letter-spacing: 7px
}

.img-text li:nth-child(2) {
	font-size: 20px
}

.img-text li:last-child a {
	background: #2cc895;
	color: #fff;
	padding: 15px 28px;
	transition: .6s
}

.img-text li:last-child a:hover {
	background: #2d2d2d
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s
}

@keyframes fade {
	from {
		opacity: .6
	}
	to {
		opacity: 1
	}
}

@media screen and (max-width:790px) {
	nav {
		display: none
	}
	.img-text h2 {
		letter-spacing: 0
	}
	.img_one>ul>li>h2 {
		font-size: 140px
	}
}

@media screen and (max-width:692px) {
	.img_one>ul>li>h2 {
		font-size: 120px
	}
}

@media screen and (max-width:592px) {
	.img_one>ul>li>h2 {
		font-size: 100px
	}
	.img-text h2 {
		font-size: 90px;
		letter-spacing: 0
	}
	.home_h2 {
		width: 60%
	}
}

@media screen and (max-width:500px) {
	.img_one>ul>li>h2 {
		font-size: 80px
	}
	.img-text h2 {
		font-size: 80px
	}
	.zam{text-align:center;}
}

@media screen and (max-width:405px) {
	.img_one>ul>li>h2 {
		font-size: 70px
	}
	.img-text h2 {
		font-size: 70px
	}
}

@media screen and (max-width:360px) {
	.img_one>ul>li>h2 {
		font-size: 70px
	}
	.img-text h2 {
		font-size: 60px
	}
	.home_hidden li {
		font-size: 13px
	}
	
}

@media screen and (max-width:358px) {
	.img_one>ul>li>h2 {
		font-size: 50px
	}
	.img-text h2 {
		font-size: 60px
	}
}

.h-aa {
	display: flex;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	padding: 50px 0;
	flex-wrap: wrap
}

.h-aa>li>ul>li:first-child {
	font-weight: bold;
	color: #aeaeae
}

.h-aa>li>ul>li:nth-child(2) {
	color: #2d2d2d;
	font-size: 30px
}

.h-aa>li>ul>li:nth-child(3) {
	background: #2cc895;
	padding: 2px 0;
	width: 70px;
	margin: 30px 0
}

.ab li {
	line-height: 1.2;
	padding: 6px 0;
	font-weight: 400;
	font-size: 17px;
	color: #777;
	width: 460px
}

.h-aa>li>ul>li:last-child {
	margin-top: 60px
}

#ac {
	background: #2cc895;
	padding: 15px 30px;
	color: #fff;
	font-weight: bolder;
	transition: .5s
}

#ac:hover {
	background: #fff;
	border: 1px solid #2cc895;
	color: #2d2d2d
}

.h-aa>li:last-child {
	background: #000 url(fruit_basket.jpg)center center no-repeat;
	background-size: cover;
	padding: 246px 283px
}

@media screen and (max-width:1160px) {
	.ab li {
		width: 100%
	}
	.h-aa>li {
		padding: 20px 0
	}
	.h-aa>li:last-child {
		margin: 0 auto
	}
}

@media screen and (max-width:638px) {
	.h-aa>li:last-child {
		padding: 50% 50%
	}
}

.home_features {
	padding: 30px 0
}

.home_ba li {
	text-align: center;
	margin: 10px 0
}

.home_ba li:first-child {
	font-weight: bold;
	color: #aeaeae
}

.home_ba li:nth-child(2) {
	color: #2d2d2d;
	font-size: 34px;
	font-weight: bold
}

.home_ba li:empty {
	background: #2cc895;
	padding: 2px 2px;
	width: 100px;
	margin: 0 auto
}

.home_bb {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around
}

.home_bb>li {
	width: 330px;
	padding: 20px 0
}

.home_bb>li>ul>li {
	text-align: center
}

.home_bb>li>ul>li:nth-child(2) a {
	color: #2d2d2d;
	font-weight: 700;
	font-size: 26px
}

.home_bb>li>ul>li:nth-child(2) a:hover {
	color: #2cc895
}

.home_bb>li>ul>li:last-child {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	font-family: Lato, sans-serif;
	text-align: center;
	color: #777
}

@media screen and (max-width:1080px) {
	.home_bb li {
		width: 430px
	}
}

@media screen and (max-width:972px) {
	.home_bb li {
		width: 100%
	}
}

.home_fresh {
	background: #000 url(image-three.jpg)center center no-repeat;
	background-size: cover;
	padding: 100px 0;
	margin: 60px 0
}

.home_bc {
	color: #fff;
	text-align: center
}

.home_bc li {
	padding: 15px 0
}

.home_bc li:first-child {
	font-size: 33px
}

.home_bc li:nth-child(2) {
	font-size: 20px;
	letter-spacing: 2px
}

.home_bc li:last-child {
	margin-top: 30px
}

.home_bc li:last-child a {
	color: white;
	padding: 15px 28px;
	background: #2cc895;
	transition: 1s;
	font-weight: 700
}

.home_bc li:last-child a:hover {
	background: #fff;
	color: #2cc895
}

@media screen and (max-width:1069px) {
	.home_fresh {
		background-size: cover
	}
}

.home_team a {
	color: #2d2d2d;
	font-size: 20px;
	font-weight: bolder
}

.home_team a:hover {
	color: #2cc895
}

.home_bd {
	padding: 30px 0
}

.home_bd img:hover {
	-webkit-filter: hue-rotate(20deg);
	filter: hue-rotate(20deg)
}

@media screen and (max-width:1350px) {
	ul {
		justify-content: center
	}
	.home_bd li {
		flex-basis: 48%;
		margin: 2% 0 2% 1%
	}
	home_be {
		display: block;
		margin: 0 auto
	}
}

@media screen and (max-width:430px) {
	.home_bd li {
		flex-basis: 100%;
		margin-left: 0
	}
}

.home_our_advantage {
	padding: 60px 0
}

.home_our_advantage>ul {
	background: url(image-four.jpg) center center no-repeat;
	background-size: cover;
	color: #fff
}

.home_our_advantage ul {
	padding: 40px 0
}

.home_bf li {
	width: 80%;
	margin: 0 auto
}

.home_bf>li>ul>li:last-child {
	width: 190px;
	margin-top: 40px
}

.home_bf li ul {
	display: flex
}

@media screen and (max-width:1106px) {
	.home_bf li ul {
		flex-direction: column
	}
	.home_bf>li>ul>li:last-child {
		width: 100%
	}
}

@media screen and (max-width:560px) {
	.home_bf {
		flex-direction: column
	}
}

.first {
	margin: 40px 0
}

.first a {
	color: #fff;
	font-size: 25px
}

.first>li {
	width: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 30px;
	text-align: center
}

.first>li:nth-child(3),
.first>li:last-child {
	margin-right: 0
}

.first li:empty:after {
	content: "\f03e";
	font-family: FontAwesome
}

.first>li>a>ul>li>ul {
	display: flex;
	justify-content: center
}

.first>li>a>ul>li>ul>li {
	padding: 15px
}

.boo {
	background-color: rgba(0, 0, 0, 0.6);
	display: block;
	padding: 20% 0
}

.boo:hover {
	background-color: transparent
}

.image_one {
	background: #000 url(cereals.jpg) center center no-repeat;
	background-size: cover
}

.image_two {
	background: #000 url(fruitsberries.jpg) center center no-repeat;
	background-size: cover
}

.image_three {
	background: #000 url(organic-dairy.jpg) center center no-repeat;
	background-size: cover
}

.image_four {
	background: #000 url(seeds.jpg) center center no-repeat;
	background-size: cover
}

.image_five {
	background: #000 url(vegetables.jpg) center center no-repeat;
	background-size: cover
}

.image_six {
	background: #000 url(fresh-meat.jpg) center center no-repeat;
	background-size: cover
}

@media screen and (max-width:1000px) {
	.first>li {
		margin: 0 0 5% 0;
		width: 48%
	}
	.first>li:nth-child(odd) {
		margin-right: 4%
	}
	.boo {
		padding: 30% 0
	}
	.boo:hover {
		background-color: transparent
	}
}

@media screen and (max-width:700px) {
	.first>li {
		margin: 0 0 30px 0;
		width: 100%
	}
}

#SIX_IMG {
	background: #2cc895;
	text-align: center;
	margin: 50px 40%;
	padding: 20px 0
}

#SIX_IMG a {
	color: #fff
}

#SIX_IMG:hover {
	background: #fff;
	border: 2px solid #2cc895;
	font-weight: 900
}

#SIX_IMG:hover a {
	color: #000
}

.home_bg {
	padding: 50px 0
}

.home_bg>li>ul>li>h3 {
	width: 300px;
	padding: 10px 0
}

.home_bg h3 a {
	color: #2cc895;
	font-size: 21px
}

.home_bg>li>ul>li>ul {
	display: flex;
	justify-content: space-between;
	width: 150px
}

.home_bg>li>ul>li:last-of-type a {
	color: gray;
	font-size: 15px
}

@media screen and (max-width:1286px) {
	.home_bg>li {
		width: 30%
	}
	.home_bg>li>ul>li>h3 {
		width: 100%
	}
}

@media screen and (max-width:1286px) {
	.home_bg>li>ul>li>ul {
		flex-direction: column
	}
}

@media screen and (max-width:550px) {
	.home_bg {
		flex-direction: column
	}
	.home_bg>li {
		width: 100%;
		padding: 20px 0
	}
	.home_bg>li>ul>li>ul {
		flex-direction: row
	}
}

.home_client {
	background: #f8f8f8;
	padding: 100px 0
}

.home_client>ul>li {
	margin: 0 auto
}

.tom {
	display: flex;
	justify-content: flex-start
}

.tom>li>a>div {
	transition: all 1s
}

.tom li a:after {
	content: "\f16d";
	font-family: FontAwesome;
	transition: 1s
}

.tom a {
	display: block;
	padding: 47% 0;
	color: transparent;
	font-size: 35px;
	font-weight: bolder
}

.tom a:hover {
	background: rgba(44, 200, 149, .8);
	color: white
}

.tom li {
	width: 25%;
	text-align: center
}

.tom li:first-child {
	background: url(s-1.jpg)no-repeat;
	background-size: cover
}

.tom li:nth-child(2) {
	background: url(s-2.jpg)no-repeat;
	background-size: cover
}

.tom li:nth-child(3) {
	background: url(s-3.jpg)no-repeat;
	background-size: cover
}

.tom li:nth-child(4) {
	background: url(s-4.jpg)no-repeat;
	background-size: cover
}

.tom li:last-child {
	background: url(s-5.jpg)no-repeat;
	background-size: cover
}

@media screen and (max-width:1123px) {
	.tom li {
		width: 33.33%
	}
	.tom {
		flex-wrap: wrap
	}
}

footer {
	background-color: #232a34;
	padding: 80px 0;
	color: #808080
}

footer p {
	text-align: center;
	padding: 60px 0 0 0
}

.footr>li {
	width: 21%;
	line-height: 28px
}

.footr h3 {
	color: #fff;
	padding: 10px 0 5px 0;
	font-size: 22px
}

.footr>li>ul>li:first-of-type {
	padding-bottom: 30px
}

.f_1 {
	font-size: 13px;
	font-weight: bolder
}

.f_1>ul>li:nth-child(2) {
	line-height: 1.7
}

.f_1>ul>li>ul {
	display: flex;
	justify-content: flex-start
}

.f_1>ul>li>ul>li {
	margin: 20px 5px
}

.f_2 h5 {
	font-size: 10px
}

.f_2 a {
	color: #2cc895;
	font-weight: bolder
}

.f_2 a:hover {
	color: #fff
}

.f_2>ul>li:nth-child(3) {
	padding-bottom: 10px
}

.f_3 a {
	color: #fff
}

.f_3 a:hover {
	color: #2cc895
}

.f_input {
	padding: 15px 20%;
	text-align: center;
	background: #232a34;
	border: 2px solid #333
}

.f_1 a i {
	color: #808080
}

.f_1 a i:hover {
	color: #fff
}

@media screen and (max-width:1106px) {
	.footr>li {
		width: 25%
	}
}

@media screen and (max-width:1055px) {
	.footr>li {
		width: 45%
	}
	footer>ul {
		flex-wrap: wrap;
		justify-content: space-around
	}
}

@media screen and (max-width:790px) {
	.footr>li {
		width: 100%
	}
	footer>ul {
		flex-wrap: wrap;
		justify-content: space-around
	}
	.f_input {
		padding: 15px 18%
	}
}

@media screen and (max-width:294px) {
	.f_input {
		padding: 15px 15%
	}
}
